   @import "tailwindcss";

   body {

     font-family: 'Inter', sans-serif, system-ui, Avenir, Helvetica, Arial;


     margin: 0;
     display: block;
     min-height: 100vh;


     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }
